header {
    font-size: 55px;
    text-align: center;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    width: 50%;
    height: 50%;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
}
ul {
    list-style-type: disc;
    color: blueviolet;
}
ol {
    color: #b92154;
    list-style:upper-roman;
}
table {
    border: solid black;
    background-color: lightgray;
    text-align: justify;
    color: black;
}