header {
    font-size: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:    #3c763d;
    padding: 10px 20px 10px 20px;
    margin:25px;
}   
body {
    background-color: lightgray;

}

audio {
    margin: 25px;
    padding: 25px;
}
video {
    border-radius: 50px;
    border-color: aqua;
    border-style: solid;
}
button {
    border-radius: 8px;
    color: black;
    background-color: whitesmoke;
    text-align: center;
   
}
button:hover {
    background-color: black;
    color: tomato;
    padding: 10px;
    margin: 10x;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}
button:active {
    background-color: black;
    color: blue;
}
.vid {
    height: 400px;
    width: 600px;
}
.vid:hover{
    cursor: pointer;
}